# Other data.
/data

# Build files.
/build

# Swap files.
*.swp

# Qt files.
/debugger/cen64d
/debugger/*.o

/debugger/moc*_*.cpp
/debugger/*.pro.user*
/debugger/Makefile

/debugger/ui_main_window.h

